/* css reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* .container {
  border: 1px solid red;
} */

/* HEADER */
header {
  height: 8vh;
  background-color: #75f336;
  border: 1px solid red;
}

#complexity {
  width: 200px;
}

.custom-btn {
  width: 200px;
}

/* MAIN */
main {
  min-height: 1100px;
  background-image: url(../img/grass.jpg);
  background-size: cover;
}

#grid {
  height: 750px;
  max-width: 750px;
  background-image: url(../img/achtung-minen.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  /* mix-blend-mode: color-dodge; */
  /* border: 1px solid black; */
  margin: auto;
}

.box {
  width: calc(100% / 10);
  height: calc(100% / 10);
  background-color: rgb(157, 217, 67);
  border: 1px solid black;
  /* color: #fff; */
  /* border: 1px solid blueviolet; */
}

.box-medium {
  width: calc(100% / 9);
  height: calc(100% / 9);
  background-color: gold;
  border: 1px solid black;
  /* color: #fff; */
  /* border: 1px solid goldenrod; */
}
.box-hard {
  width: calc(100% / 7);
  height: calc(100% / 7);
  background-color: rgb(195, 68, 68);
  border: 1px solid black;
  /* color: #eee; */
  /* border: 1px solid gray; */
}

.hidden {
  display: none;
}

.outer-grid-border {
  border: 1px solid black;
}
